@media (max-width: 700px) {
    html {
        font-size: 50%;
    }
}

/*@media (min-width: 700px) and (max-width: 1920px) {*/
/*    */
/*}*/

html, body {
    font-family: Arial;
    height: 100%;
    margin: 0;
    /*font-size: 62.5%;*/
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #737a7a;
    color: white;
    font-size: 4rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.question {
    margin: 10px 0;
    text-align: center;
    font-size: 3rem;
}

.button-row {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

button {
    background-color: gold;
    border-radius: 4px;
    font-size: 2.3rem;
}

.explicit-option {
    display: none;
    flex-direction: column;
    font-size: 2.3rem;
}

.explicit-question {
    margin: 10px 0;
    text-align: center;
}

.radio-group {
    display: flex;
    justify-content: space-evenly;
    margin: 5px 0;
}

input[type='radio'] {
    display: block;
    margin: 5px auto;
    width: 2.5rem;
    height: 2.5rem;
}
label {
    display: inline-block;
}

.last-button {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.button-enter {
    display: none;
    margin: 10px 0;
    padding: 3px;
}

.button-enter.show {
    display: block;
}

.joke-text {
    display: flex;
    justify-content: center;
    margin: 10px 15px;
}
.text {
    display: none;
}
.text.show {
    display: block;
    padding: 20px;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 2.2rem;
}

.feedback {
    display: none;
    justify-content: center;
    margin: 10px 0;
}
.feedback.show {
    display: flex;
}

.vote {
    padding: 5px;
}

.vote--up {
    margin-right: 3rem;
}
.vote--up.pressed {
    background-color: #18ec18;
}

.vote--down {
    margin-left: 3rem;
}
.vote--down.pressed {
    background-color: firebrick;
}

.footer {
    text-align: center;
    background-color: #737a7a;
    padding: 10px;
    font-weight: bold;
    color: #f3d0d0;
    font-size: 2.7rem;
}

a {
    text-decoration: none;
    color: #e87d53;
}
a:hover {
    text-decoration: underline;
}