html, body {
    font-family: Arial sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #737a7a;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.favorite-icon {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.fa-star {
    position: relative;
    right: 20%;
    font-size: 4rem;
    cursor: pointer;
}

.joke {
    display: flex;
    justify-content: center;
    margin: 10px 15px;
}

.joke-text {
    display: block;
    padding: 15px;
    border: 2px solid black;
    border-radius: 2px;
    font-size: 2.7rem;
}

button {
    background-color: white;
    border-radius: 4px;
    font-size: 2.5rem;
    cursor: pointer;
}

.safe-option {
    background-color: darkseagreen;
    margin-right: 40px;
}

.unsafe-option {
    background-color: gray;
}

.options {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-question {
    font-size: 3rem;
    margin-left: 50px;
}

.fa-question {
    font-size: 2.5rem;
    position: relative;
    display: inline-block;
}

.tooltip {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.tooltip-text {
    display: none;
    position: absolute;
    padding: 7px;
    font-size: 2.5rem;
    /*opacity: 0;*/
    transition: all .5s;
    background-color: #f3d0d0;
    transform: translateY(30px);
}

.tooltip-text.show {
    display: flex;
}

.favorites {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.favorites-content {
    display: none;
    flex-direction: column;
    flex: 1 0 auto;
    align-items: center;
}

.favorites-button__list {
    width: max-content;
    padding: 0 20px;
    margin: 10px 0 5px 0;
}

.favorites-list {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
}

.favorites-element {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.footer {
    text-align: center;
    background-color: #5f6464;
    padding: 10px;
    font-weight: bold;
    color: #f3d0d0;
    font-size: 2.3rem;
}

a {
    text-decoration: none;
    color: #e87d53;
}

a:hover {
    text-decoration: underline;
}

.window-message {
    position: fixed;
    bottom: -80px;
    transition: bottom ease 1s;
    padding: 20px;
    border: 4px solid gold;
    border-radius: 5px;
    background-color: transparent;
    font-size: 2.5rem;
}

.window-message.show {
    bottom: 200px;
}

@media (max-width: 640px) {
    html {
        font-size: 50%;
    }
}